@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascota Feliz</title>
    <link rel="shortcut icon" href="/Imagenes/logo3.jpg">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/95eab14b52.js" crossorigin="anonymous"></script>
</head>
<!--Para realizar comentarios-->

<body>
    <section class="hero">
        <div class="contenido-hero">
            <h2>Veterinaria Mascota feliz</h2>
            <h3>Misión</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nisi aut maxime! Nostrum, <br>recusandae minima possimus nesciunt sequi tempora, 
                aliquid sint obcaecati delectus laboriosam<br> ullam aperiam dolor porro labore nihil illum suscipit molestiae minus unde quae culpa sed. <br>Atque 
                reprehenderit quibusdam unde qui accusantium expedita est error ratione ipsa! Rerum.
            </p>
            <h3>Visión</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod nisi aut maxime! Nostrum, <br>recusandae minima possimus nesciunt sequi tempora, 
                aliquid sint obcaecati delectus laboriosam<br> ullam aperiam dolor porro labore nihil illum suscipit molestiae minus unde quae culpa sed. <br>Atque 
                reprehenderit quibusdam unde qui accusantium expedita est error ratione ipsa! Rerum.
            </p>
        </div>
     </section>
</body>
