@page
@model MascotaFeliz.App.FrontEnd.Pages.ConsultasModel
@{
}
<body>

    <section class="formularios">
    <form class="formulario">
        <h2>Realizar consultas</h2>
        <legend>Consultar Listado de Mascota</legend>
        <table>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>ESPECIE</th>
                <th>RAZA</th>
                <th>COLOR</th>
                <th>DUEÑO</th>
                <th>VETERINARIO</th>
                <th>HISTORIA CLÍNICA</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Roko</td>
                <td>Canino</td>
                <td>Criollo</td>
                <td>Dorado</td>
                <td>María José</td>
                <td>Juan sin Miedo</td>
                <td>H-001</td>
            </tr>
            <tr></tr>
        </table>

        <div class="btn btn-primary table-btn">
            <button class="btn btn-primary table-btn">Mascota</button>
            <button class="btn btn-primary table-btn">Listar Mascotas</button>
            <button class="btn btn-primary table-btn">Limpiar</button>
        </div>
        
        

    </form>
</section>
</body>
